<html>
    <head>
	{% load staticfiles %}
    <meta http-equiv="Content-Language" content="en-us" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" type="image/ico" href="{% static "backoffice\chemistry.ico" %}"/>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" type="text/css" href="{% static "css\style.css" %}" />

	<title>3615conserve</title>
    <meta name="description" content="cat cam dev" />
    <meta name="keywords" content="cat feeder and other stuff" />
    <meta name="author" content="3615conserve" />
    <meta name="owner" content="3615conserve" />
    <script />
    </head>

<body>
<p>Vous êtes identifié!</p>
<p><a href="/logout/">Sortir</a></p>
		<!-- HEADER -->
		<header>
			<div>
				<h1>3615 Conserve</h1>
				<h2>Personal website</h2>
				<!-- MENU -->
				<nav>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Gallery</a></li>
						<li><a href="#">Cat Feeder</a></li>
						<li><a href="#">Cam House</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</nav>
				<!-- FIN MENU -->
				<div id="accorche">
					<h2>We’re ALL EARS in San Francisco, CA.</h2>
					<p>We’re an adoption center that focuses on providing homes for rehabilitated dogs. We believe all dogs deserve a second chance at life.</p>
					<p>Interested in adopting?</p>
					<a href="#">Learn More</a>
				</div><br clear="both" />
			</div>
		</header>

<div align="center">
	<table border="0" width="700" id="table1" cellspacing="0" cellpadding="0">
		<tbody>
		<tr>
			<td colspan="3">
			<font face="Century Gothic">
			<a href="index.html">
			<img border="0" src="images/hcnd_top.jpg" width="700" height="115" /></a></font></td>
		</tr>
		<tr>
			<td width="506" valign="top" bgcolor="#FFFFFF">
			<div align="right">
				<table border="0" width="490" id="table2" cellspacing="0" cellpadding="0">
					<tbody>
					<tr>
						<td colspan="2" bgcolor="#FFFFFF">
						<table border="0" width="100%" id="table4" cellspacing="0" cellpadding="0">
							<tbody>
							<tr>
								<td>
								<p align="right">
					<b><font color="#6666FF" face="Century Gothic" size="1"><SCRIPT LANGUAGE="JavaScript">
					<!-- Begin

					// Get today's current date.
					var now = new Date();

					// Array list of days.
					var days = new Array('Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday');

					// Array list of months.
					var months = new Array('January','February','March','April','May','June','July','August','September','October','November','December');

					// Calculate the number of the current day in the week.
					var date = ((now.getDate()<10) ? "0" : "")+ now.getDate();

					// Calculate four digit year.
					function fourdigits(number)	{
					return (number < 1000) ? number + 1900 : number;
					}
					// Join it all together
					today =  days[now.getDay()] + ", " +
					months[now.getMonth()] + " " +
					date + ", " +
					(fourdigits(now.getYear())) ;
					// Print out the data.
					document.write(today);
					//  End -->
					</SCRIPT>
					</font></b></p></td>
								<td width="11">&nbsp;</td>
							</tr>
						</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td width="478" bgcolor="#FFFFFF">
						<a name="top"></a>
						<!--<img border="0" src="images/tb_corporatepetcare.jpg" width="162" height="33" alt="Corporate Pet Care ... Happy CatsnDogs Pet Care" /></td>-->
						<img src="{% static "backoffice\noise.jpg" %}" alt="Header" width="1000" height="50" />
						<td width="12" bgcolor="#FFFFFF">
						&nbsp;</td>
					</tr>
					<tr>
						<td width="478" bgcolor="#FFFFFF">
						&nbsp;</td>
						<td width="12" bgcolor="#FFFFFF">
						&nbsp;</td>
					</tr>
					<tr>
						<td width="478" bgcolor="#FFFFFF">
						<br><p>
						<img src="{% static "backoffice\1.jpg" %}" alt="Menu1" width="42" height="42" /></p>
						<!--<img border="0" src="/medias/images/1.jpg" width="33" height="33" alt="Menu1..." /></p>-->
						<ol>
							<li style="font-family: Century Gothic; font-size: 10pt; font-weight: bold">
							<b><font face="Century Gothic" size="2">
							<font color="#FF6600">Increased Employee Morale</font><font color="#FF9933"><br />
							</font>Your employees can focus and concentrate
							directly on their work responsibilities knowing that
							their pets are being taken care of by experienced,
							professional, pet sitters.<br />
&nbsp;</font></b></li>
							<li style="font-family: Century Gothic; font-size: 10pt; font-weight: bold">
							<b><font face="Century Gothic" size="2">
							<font color="#FF6600">Increased Work Output</font><br />
							Your employee’s can use their time more efficiently
							at work. They will be able to come in earlier and
							leave later, knowing their pet (s) are being taken
							care of. <br />
&nbsp;</font></b></li>
							<li style="font-family: Century Gothic; font-size: 10pt; font-weight: bold">
							<b><font face="Century Gothic" size="2">
							<font color="#FF6600">Discounted Rates for Pet
							Sitting</font><br />
							We offer package discounts for corporate customers.
							You can use this extra money to spend on your loved
							pets!<br />
&nbsp;</font></b></li>
							<li style="font-family: Century Gothic; font-size: 10pt; font-weight: bold">
							<b><font face="Century Gothic" size="2">
							<font color="#FF6600">Increased Productivity at Work</font><br />
							You won&#39;t need to shuffle between work and home to
							care for your pet (s). More work can be completed
							without distractions and you and your family will
							have more quality time with your pet (s).<br />
&nbsp;</font></b></li>
							<li style="font-family: Century Gothic; font-size: 10pt; font-weight: bold">
							<b><font face="Century Gothic" size="2">
							<font color="#FF6600">Pre-Screened Sitters<br />
							</font>Our Pet Sitters have already been
							pre-screened which saves you time and money
							researching and screening a quality pet sitting
							company.</font></b></li>
						</ol>
						<p><b><font face="Century Gothic" size="1">
						<a href="#top">top of page</a></font></b></p>

					</tr>

					</tbody>
					</table>
			</div>
			</td>
			<td width="30" background="images/hcnd_rightbar.jpg">&nbsp;</td>
		</tr>
		<tr>
			<td width="700" colspan="3" height="22" background="images/hcnd_bottom.jpg">
			<table border="0" width="100%" id="table5" cellspacing="0" cellpadding="0">
				<tbody>
				<tr>
					<td>
					<p align="right"><b><font face="Century Gothic" size="1">©
					2017 CONSERVE</font></b></p></td>
					<td width="30">&nbsp;</td>
				</tr>
			</tbody>
			</table>
			</td>
		</tr>
	</tbody>
	</table>
</div>

</body>

</html>
